html, body{
  height: 100%;
}
body{
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.error{
  background-color: #eb3f5b;
  color: #f2f2f2;
}
.success{
  background-color: #4cd62b;
  color: #f2f2f2;
}
